.git
.gitignore

*.log
*.out
*.err

env/
venv/
.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.tmp
*.swp

htmlcov/
.coverage
.cache/
pytest_cache/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

dist/
build/
*.egg-info/

.env
.env.*
